@media screen and (max-width:450px){
    
        nav a {max-width: 100%;
            padding: 3px;
            display:block;
        
        }

        nav span{
            display:none;
        }
    
}

header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

    }





@media (max-width: 450px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .flex-item {
        flex-basis: 100%;
        max-width: 600px;
    }
}
    
